.container{
//    background: gray;

     .body-div{
         height: calc(100vh - 64px);
         overflow: scroll;
     }
    .intro{
        margin-top: 32px;
        padding: 0px 24px;

        .title{

            color: #000000;
            font-size: 32px;
            font-weight: 500;
        }
        .sub-title{
            margin-top: 16px;
            margin-bottom: 16px;
            flex-wrap: wrap !important;
            color: #868e96;
            max-width: 600px;
        }

        .icon-con{
            margin-top: 16px;
            margin-bottom: 32px;
        }

        .icon-div{
            width: 36px;
            margin: 8px;
            &:first-child{
              margin-left: 0px !important;
            }
        }

        .icon-div:hover{
            opacity: .5;
        }
    }


    .skills{
        margin-top: 32px;
        padding: 0px 24px;
        .txt2{
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 2px;
        }
        .tool-tip{
            padding: 4px 8px;
            background: rgb(124, 122, 122);
            color: #ffffff;
            border-radius: 4px;
            font-size: 12px;
        }
    }

    .Education{
        max-width: 500px;
        margin-top: 32px;
        padding: 0px 24px;
        color: #545454;
        .logo{
            width: 40px;
            margin: 20px 0px 4px 0px;
        }
        .txt1{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 4px;
        }
        .txt2{
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 2px;
        }

        .txt3{
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 2px;
        }
        .txt4{
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 16px;
        }
        .border-bottom{
            border-bottom: 1px solid #545454;
        }
    }
    .Experience{
        margin-top: 32px;
        padding: 0px 16px;
    }
    .problem-solving{
        margin-top: 32px;
        padding: 0px 16px;
    }

    .Achievements{
        margin-top: 32px;
        padding: 0px 16px;
    }
}


.title-txt{
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
}

.move-btn{
    padding: 8px 16px;
 //   margin: 0px 8px;
    border-radius: 30px;
    color: white;
    

   // background: #2c43c5;
}

.move-btn:hover{
    opacity: .8;
    background: #6a7de9;
}
.tool-bar{
    flex-wrap: wrap !important;
}