.container{
//    background: gray;

     .body-div{
         height: calc(100vh - 64px);
         overflow: scroll;
     }
    .intro{
        margin-top: 32px;
        padding: 0px 24px;

        .title{

            color: #000000;
            font-size: 32px;
            font-weight: 500;
        }
        .sub-title{
            margin-top: 16px;
            margin-bottom: 16px;
            flex-wrap: wrap !important;
            color: #868e96;
            max-width: 600px;
        }

        .icon-con{
            margin-top: 16px;
            margin-bottom: 32px;
        }

        .icon-div{
            width: 36px;
            margin: 8px;
            &:first-child{
              margin-left: 0px !important;
            }
        }

        .icon-div:hover{
            opacity: .5;
        }
    }


    .skills{
        margin-top: 32px;
        padding: 0px 24px;
        .txt2{
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 2px;
        }
        .tool-tip{
            padding: 4px 8px;
            background: rgb(124, 122, 122);
            color: #ffffff;
            border-radius: 4px;
            font-size: 12px;
            margin-bottom: 4px;
        }

        // .profici{
        //     position: relative;
        // }


        .skill{
            position: relative;
            padding-left: 16px;
        }

        .skill::before{
            position: absolute;
            top: 5px;
            left: 0px;
             content: '.';
             color: #ffffff;
             height: 8px !important;
             width: 8px !important;
             border-radius: 50%;
             background-color: #000000;        
        }
    }

    .Education{
        max-width: 500px;
        margin-top: 32px;
        padding: 0px 24px;
        color: #545454;
        .logo{
            width: 40px;
            margin: 20px 0px 4px 0px;
        }
        .txt1{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 4px;
        }
        .txt2{
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 2px;
        }

        .txt3{
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 2px;
        }
        .txt4{
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 16px;
        }
        .border-bottom{
            border-bottom: 1px solid #545454;
        }
    }
    .Experience{
        max-width: 500px;
        margin-top: 32px;
        padding: 0px 24px;
        color: #545454;
        .logo{
            width: 80px;
            margin: 20px 0px 4px 0px;
        }
        .txt1{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 4px;
        }
        .txt2{
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 2px;
        }

        .txt3{
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 2px;
        }
        .txt4{
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 16px;
        }
        .border-bottom{
            border-bottom: 1px solid #adabab;
        }

        .role-list{
            margin-top: 8px;
        }

        .role{
            position: relative;
            padding-left: 16px;
        }

        .role::before{
            position: absolute;
            top: 5px;
            left: 0px;
             content: '.';
             color: #ffffff;
             height: 8px !important;
             width: 8px !important;
             border-radius: 50%;
             background-color: #000000;        
        }
    }
    .problem-solving{
        margin-top: 32px;
        padding: 0px 24px;
        .list{
            position: relative;
            padding-left: 16px;
        }

        .list::before{
            position: absolute;
            top: 5px;
            left: 0px;
             content: '.';
             color: #ffffff;
             height: 8px !important;
             width: 8px !important;
             border-radius: 50%;
             background-color: #000000;        
        }
        .txt2{
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 2px;  
        }

        .oj-details{
            width: 210px;
            padding: 8px 12px;
            margin: 4px;
            display: table;
            border: 1px solid rgb(148, 139, 139);
            border-radius: 8px;
            background: rgb(192, 190, 190);
        }
    }

    .Achievements{
        margin-top: 32px;
        padding: 0px 24px;
        .list{
            position: relative;
            padding-left: 16px;
        }

        .list::before{
            position: absolute;
            top: 10px;
            left: 0px;
             content: '.';
             color: #ffffff;
             height: 8px !important;
             width: 8px !important;
             border-radius: 50%;
             background-color: #000000;        
        }
    }

    .bio{
        margin-top: 32px;
        padding: 0px 24px;
        .txt2{
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 2px;  
        }
        .txt3{
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 2px;
        }
        .txt4{
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 2px;
        }
    }
}


.title-txt{
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
}

.move-btn{
    padding: 8px 16px;
 //   margin: 0px 8px;
    border-radius: 30px;
    color: white;
    

   // background: #2c43c5;
}

.move-btn:hover{
    opacity: .8;
    background: #6a7de9;
}
.tool-bar{
    flex-wrap: wrap !important;
}

.flex-w{
    flex-wrap: wrap !important;
}