<div class="container">
  <mat-toolbar class="tool-bar" color="primary">
    <a style="text-decoration: none !important;" href="#skills"><span class="move-btn">Skills</span></a>
    <a style="text-decoration: none !important;" href="#education"><span class="move-btn">Education</span></a>
    <a style="text-decoration: none !important;" href="#experiences"><span class="move-btn">Experiences</span></a>
    <a style="text-decoration: none !important;" href="#problem_solving"><span class="move-btn">Problem Solving</span></a>
    <a style="text-decoration: none !important;" href="#achievements"><span class="move-btn">Achievements</span></a>
  </mat-toolbar>

  <div class="body-div">
    <div class="intro">
      <div class="title">Hi, I'm Md. Abdullah AL Amin</div>
      <div class="sub-title" fxLayoutAlign="row" fxLayoutGap="8px">
        <div>Competitive Programmer</div>
        <div>|</div>
        <div>Master on Codeforces</div>
        <div>|</div>
        <div>software engineer at SELISE Digital Platforms</div>
      </div>
  
      <div class="icon-con" fxLayout="row">
  
        <div href="" class="icon-div">
          <a  href="mailto:abdullahalamin50@gmail.com">
            <img style="width: 100%;" src="../../../assets/images/mail.png" alt="">
          </a>
  
        </div>
        <div class="icon-div">
          <a target="_blank" href="https://www.facebook.com/aaamin211/">
            <img style="width: 100%;" src="../../../assets/images/facebook-icon.png" alt="">
          </a>
        </div>
  
        <div class="icon-div">
          <a target="_blank" href="https://github.com/aaamin">
            <img style="width: 100%;" src="../../../assets/images/github-logo.png" alt="">
          </a>
        </div>
  
        <div class="icon-div">
          <a target="_blank" href="https://www.linkedin.com/in/abdullah-al-amin-564654125/">
            <img style="width: 100%;" src="../../../assets/images/linkedin.png" alt="">
          </a>
        </div>
  
  
  
        <div class="icon-div">
          <a href="tel:+8801743127390">
             <img style="width: 100%;" src="../../../assets/images/phone.png" alt="">
          </a>
        </div>
  
  
      </div>
      <a target="_blank" href="https://drive.google.com/file/d/1JH5f_D6xrOiy8YBYEIo8Y-57zmBMlloG/view?usp=sharing">    <button mat-flat-button color="primary">
        RESUME
      </button></a>
  
    </div>
  
  
    <div id="skills" class="skills">
         <div class="title-txt">
           Skills
         </div>
  
         <div>
           <div class="txt2">Worked in:</div>
           <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="4px">
             <div class="tool-tip"> C/C++</div>
             <div class="tool-tip"> javascript </div>
             <div class="tool-tip"> angular</div>
             <div class="tool-tip"> git </div>
             <div class="tool-tip"> nativescript </div>
             <div class="tool-tip"> typescript </div>
             <div class="tool-tip"> NoSQL </div>
             <div class="tool-tip"> C# </div>
           </div>
         </div>
         <div>
           <div class="txt2">Proficient in:</div>
           <div>C/C++</div>
           <div>Algorithmic Problem Solving (solved 2500++ problems on various online platforms)</div>
           <div> Data Structures and Algorithms</div>
           <div>Competitive Programming</div>
         </div>
    </div>
  
  
    <div id="education" class="Education">
      <div class="title-txt">
        Education
      </div>
  
  
      <div class="border-bottom">
        <img class="logo" src="../../../assets/images/iu.jpg" alt="">
        <div class="txt1">Islamic University, Bangladesh</div>
        <div class="txt2">Bachelor of Science in Computer Science and Engineering</div>
        <div class="txt3">March 2014 - December 2019</div>
        <div class="txt4"> Kushtia, Bangladesh</div>
      </div>
  
      <div class="border-bottom">
        <img class="logo" src="../../../assets/images/rgcc.jpg" alt="">
        <div class="txt1">Rajshahi govt. City College</div>
        <div class="txt3">2010 - 2012</div>
        <div class="txt4"> Rajshahi, Bangladesh</div>
      </div>
  
  
      <div class="border-bottom">
        <img class="logo" src="../../../assets/images/nphs.jpg" alt="">
        <div class="txt1">Nachole Pilot High School</div>
        <div class="txt3">2005-2010</div>
        <div class="txt4"> Nachole, Chapai Nawabgonj</div>
      </div>
  
    </div>
  
  
    <div id="experiences" class="Experience">
      <div class="title-txt">
        Experiences
      </div>
  
  
      <div>
        <div>Selise Digital Platform</div>
        <div>Software engineer</div>
        <div>December 2019 - Present</div>
        <div> Dhanmondi 27, Dhaka</div>
      </div>
  
    </div>
  
  
    <div id="problem_solving" class="problem-solving">
      <div class="title-txt">
        Problem Solving Activities
      </div>
  
  
      <div>
        <div>codeforces</div>
      </div>
  
    </div>
  
  
    <div id="achievements" class="Achievements">
      <div class="title-txt">
        Achievements 
      </div>
  
  
      <div>
        <div>codeforces</div>
      </div>
  
    </div>
  </div>


  

</div>