<div class="container">
    
    <div class="intro">
          <div>Hi, I'm Md. Abdullah AL Amin</div>
          <div>
              <div>Competitive Programmer</div>
              <div>Master on Codeforces</div>
              <div>software engineer at SELISE Digital Platforms</div>
          </div>        
          
          <div fxLayout="row">
            <button mat-mini-fab color="accent" aria-label="Example icon button with a bookmark icon">
              <mat-icon>bookmark</mat-icon>
            </button>
            <button mat-mini-fab color="accent" aria-label="Example icon button with a bookmark icon">
              <mat-icon>bookmark</mat-icon>
            </button>
            <button mat-mini-fab color="accent" aria-label="Example icon button with a bookmark icon">
              <mat-icon>bookmark</mat-icon>
            </button>
            <button mat-mini-fab color="accent" aria-label="Example icon button with a bookmark icon">
              <mat-icon>bookmark</mat-icon>
            </button>
          </div>
          <button mat-stroked-button>
            RESUME
          </button>
    </div>
</div>
