.container{
//    background: gray;
    .intro{

        padding: 32px 16px;

        .title{

            color: #000000;
            font-size: 32px;
            font-weight: 500;
        }
        .sub-title{
            margin-top: 16px;
            margin-bottom: 16px;
            flex-wrap: wrap !important;
            color: #868e96;
            max-width: 600px;
        }

        .icon-con{
            margin-top: 16px;
            margin-bottom: 32px;
        }

        .icon-div{
            width: 36px;
            margin: 8px;
        }

        .icon-div:hover{
            opacity: .5;
        }
    }
}